body {
    background-color: black;
}

.window-bulb-project {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bulb {
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.bulb-light {
    border-radius: 100px;
    width: 135px;
    height: 222px;
    z-index: 1;
    background: linear-gradient(135deg, #b5bdc8 0%, #828c95 74%);
    box-shadow: none;
}

.plinth {
    background-color: #607d8b;
    position: absolute;
    border-radius: 40px 40px 11px 11px;
    width: 64px;
    height: 86px;
    top: 209px;
}

.button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stl-btn {
    background-color: black;
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

.btn-line {
    width: 17px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 97px;
    left: 278px;
}

.button:hover {
    box-shadow: 0 0 29px 14px cornflowerblue;
    cursor: pointer;
}

.button:active {
    box-shadow: 0 0 20px 12px rgba(80, 135, 230, 0.9);
}



